
<p-table [value]="colleccionDeProductos" responsiveLayout="scroll" *ngFor="let producto of colleccionDeProductos" >
    <ng-template pTemplate="header">
        <tr>
            <th>Nombre</th>
            <th>Tipo</th>
            <th>Descripcion</th>
            <th>Imagen</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" >
        <tr>
            <td>{{producto.Nombre}}</td>
            <td>{{producto.Tipo}}</td>
            <td>{{producto.Descripcion}}</td>
            <td>{{producto.img}}</td>
        </tr>
    </ng-template>
</p-table>