<!-- <button pButton type="button" label="Agregar producto" class="p-button-success" (click)="mostrarAgregar()"></button>
<div *ngFor="let usuario of misUsuarios">
    <p>Usuario: {{usuario.nombreUsuario}}</p>
    <p>Usuario: {{usuario.contrasena}}</p>
    <p>Id: {{usuario.idUsuario}}</p>
    <br>
</div>

<p-card *ngFor="let bebida of coleccionDeBebidas">
    <p>Tipo: {{bebida.tipo}}</p>
    <p>Marca: {{bebida.marca}}</p>
    <p>Precio: ${{bebida.precio}}</p>
    <p>Litro: {{bebida.litros}}</p>
</p-card>


<p-dialog header="Title" [(visible)]="formularioVisible">
    <form [formGroup]="formularioBebidas">
        <span class="p-float-label m-4">
            <input id="float-input" type="text" pInputText formControlName="tipo"> 
            <label for="float-input">Tipo</label>
        </span>
        <span class="p-float-label m-4">
            <input id="float-input" type="text" pInputText formControlName="marca"> 
            <label for="float-input">Marca</label>
        </span>
        <span class="p-float-label m-4">
            <input id="float-input" type="number" pInputText formControlName="precio"> 
            <label for="float-input">Precio</label>
        </span>
        <span class="p-float-label m-4">
            <input id="float-input" type="number" pInputText formControlName="litros"> 
            <label for="float-input">Capacidad</label>
        </span>
        <button pButton type="button" label="Agregar Bebida" class="p-button-success" (click)="agregarBebida()"></button>
    </form>
</p-dialog>
 
-->

