<div style="display: inline-block;">

    <p-card header="Latte" subheader="Disfruta de un café latte calientito" [style]="{'width': '360px','display':'inline-block','margin': '0 25px'}" styleClass="p-card-shadow" >
        <ng-template pTemplate="header">
            <img alt="Card" src="https://cdn7.kiwilimon.com/recetaimagen/36986/46349.jpg"  >
        </ng-template>
        <ng-template pTemplate="footer">
           
        </ng-template>
    </p-card>
    <p-card header="Mocca" subheader="Disfruta de un café mocca" [style]="{'width': '360px','display':'inline-block','margin': '0 25px'}" styleClass="p-card-shadow" >
        <ng-template pTemplate="header">
            <img alt="Card" src="https://i.pinimg.com/736x/e3/08/c4/e308c458bc78982025ccbf28db538e26.jpg"  >
        </ng-template>
        <ng-template pTemplate="footer">


        </ng-template>
    </p-card>
    <p-card header="Hamburguepizza" subheader="La combinacion de hamburguesa con pizza. Se sirve con orégano y aceitunas verdes descarozadas" [style]="{'width': '360px','display':'inline-block','margin': '0 25px'}" styleClass="p-card-shadow" >
        <ng-template pTemplate="header">
            <img alt="Card" src="https://img-global.cpcdn.com/recipes/459f423890d2e5da/1200x630cq70/photo.jpg">
        </ng-template>
        <ng-template pTemplate="footer">
           
        </ng-template>
    </p-card>
    </div>

    <div style="display: inline-block;">

        <p-card header="Pizza con borde de Salchicas" subheader="La tipica pizza pero los bordes de salchicas pueden comerse por separado" [style]="{'width': '360px','display':'inline-block','margin': '0 25px'}" styleClass="p-card-shadow" >
            <ng-template pTemplate="header">
                <img alt="Card" src="https://kikikas.files.wordpress.com/2015/09/pizzas8.jpg"  >
            </ng-template>
            <ng-template pTemplate="footer">
               
            </ng-template>
        </p-card>
        <p-card header="Pizza con Huevo frito y papas" subheader="Papasfritas, huevo frito, muzzarella y jamón cocido. Se sirve con orégano y aceitunas verdes descarozadas" [style]="{'width': '360px','display':'inline-block','margin': '0 25px'}" styleClass="p-card-shadow" >
            <ng-template pTemplate="header">
                <img alt="Card" src="https://images.deliveryhero.io/image/pedidosya/products/758321-f0276617-7346-49c7-b9c9-8e4eb3a3c5d1.jpg?quality=90&width=248"  >
            </ng-template>
            <ng-template pTemplate="footer">
               
            </ng-template>
        </p-card>
        <p-card header="Hamburguepizza" subheader="La combinacion de hamburguesa con pizza. Se sirve con orégano y aceitunas verdes descarozadas" [style]="{'width': '360px','display':'inline-block','margin': '0 25px'}" styleClass="p-card-shadow" >
            <ng-template pTemplate="header">
                <img alt="Card" src="https://img-global.cpcdn.com/recipes/459f423890d2e5da/1200x630cq70/photo.jpg">
            </ng-template>
            <ng-template pTemplate="footer">
               
            </ng-template>
        </p-card>
        </div>